body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 910px;
    background-image: url(/image/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 5px;
    box-sizing: border-box;
}

p {
     font-family: sans-serif;
     color: rgba(71,71,71,255);
}
/* ------nav start------ */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.932);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.781);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
/* ------nav end------ */

/* ------header start------ */
header{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-size: 100px;
    font-family: 'Carlito', sans-serif;
    color: rgba(217,91,69,255);
}

header p{
    font-size: 26px;
    color: rgba(239,239,239,255);
    background-color: rgba(221,169,149,255);
    margin: 0;
}
/* ------header end------ */
/* ------information start------ */
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(71,71,71,255);
    padding: 250px;
    
}

.info-section img{
    width: 500px;
    position: absolute;
    right: 68%;
    top: 900px;
}

.info-section h4{
    font-size: 200px;
    margin: 0;
}

.info-section h5{
    font-size: 50px;
    margin-top: 0;
}

.info-section p{
    font-size: 20px;
}

/* ------information end------ */

/* ------why section start------ */
.why-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(71,71,71,255);
    padding: 250px;
}

.why-section h4{
    font-size: 60px;
    margin: 0 0 30px 0;
}

.why-section p{
    font-size: 20px;
    margin: 0 0 40px 0;
}

.aside-div{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 800px;
    
}

.why-aside{
    border-radius: 18px;
    width: 28%;
    height: 320px;
    padding: 10px;
}


#first-aside{
    background-color: rgba(128,177,174,255);
}
#first-aside p{
    font-size: 16px;
    margin: 48px 20px 0 20px;
}
#second-aside{
    background-color: rgba(230,192,89,255);
}
#second-aside p{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
#third-aside{
    background-color: rgba(221,169,149,255);
}
#third-aside p{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
/* ------why section end------ */
/* ------what do you win start------ */

/* ------what do you win end------ */
/* ------what to expect start------ */
.expect-section{
    display: flex;
    justify-content: space-evenly;
    color: rgba(71,71,71,255);
    padding: 250px;
}


.expect-aside-left h3{
    font-size: 40px;
    margin-top: 0;
}

.expect-aside-left {
    margin-right: 20px;
}

.expect-aside-left p{
    font-size: 22px;
}


.expect-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 440px;
    border-radius: 18px;
    margin-bottom: 10px;
}

.bold-p{
    font-weight: bold;
}

.expect-card h4{
    font-size: 60px;
    margin-right: 20px;

}

#teori-one{
    background-color: rgba(128,177,174,255);
}

#experience-one{
    background-color: rgba(230,192,89,255);
}

#do-one{
    background-color: rgba(221,169,149,255);
}
/* ------what to expect end------ */

/* ------approach start------ */
.approach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(71,71,71,255);
    margin: 100px;
    padding: 250px;
}

.approach h4{
    font-size: 60px;
    margin: 0 0 30px 0;
}

.approach p{
    font-size: 20px;
}

.approach-div{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 800px;
    
}

.approach-aside{
    border-radius: 18px;
    width: 28%;
    height: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#Fourth-aside{
    background-color: rgba(128,177,174,255);
}
#Fourth-aside p{
    font-size: 16px;
    margin: 0px 20px 0 20px;
}
#Fifth-aside{
    background-color: rgba(230,192,89,255);
}
#Fifth-aside p{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
#Sixth-aside{
    background-color: rgba(221,169,149,255);
}
#Sixth-aside p{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
/* ------approach end------ */

/* ------first step start------ */

.first-step-section{
    display: flex;
    justify-content: center; 
}


.first-step-text-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(128,177,174,255);
    border-radius: 20px;
    height: 600px;

}

.first-step-text-div h3{
    font-size: 50px;
    color: rgba(239,239,239,255);
}

.first-step-text-div p{
    margin-top: 0;
    width: 60%;
    font-size: 20px;
    color: rgba(239,239,239,255);
}




/* ------first step end------ */
/* ------om oss start------ */

.profile-container{
    display: flex;
    justify-content: center;
    
}

.profile-card{
    height: 400px;
    width: 300px;
    margin: 0 40px 0 40px;
    position: relative;
}

.profile-card img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(65, 65, 65, 0.384);
}


.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 150px 100px 150px;
    margin-bottom: 200px;
}

.profile-text h2{
    font-size: 30px;
    color: rgba(71,71,71,255);
}

.profile-text p{
    font-size: 20px;
}

.card-text{
    width: 300px;
    height: 80px;
    background-color: #444;
}
.card-text p{
    color: #f1f1f1;
}
  

.card-text {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#more {display: none;}

.profile-card:hover .card-text {
    opacity: 1;
  }

/* ------om oss end------ */
/* ------contact start------ */
/* ------contact end------ */

/* ------Footer start------ */
footer{
    background-color: rgba(51, 51, 51, 0.781);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 100px;
    color: rgba(239,239,239,255);
}

footer img{
    width: 20px;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div p{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-div-one{
    margin-top: 35px;
}

.footer-div-one p{
    margin: 5px;
    

}

.p-copy{
    padding: 20px 0 0 0;
    font-size: 14px;
}

.footer-div-two a{
    text-decoration: none;
    color: rgba(239,239,239,255);

}

.footer-div-two p{
    margin: 0 0 8px 0;
    color: white;
}

.footer-div-two strong{
    margin: 15px 0 18px 0;
    font-size: 20px;

}

.footer-div-three strong{
    font-size: 20px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.icons a{
    text-decoration: none;
    margin: 0 0 8px 5px;
    font-size: 20px;
    color: rgba(239,239,239,255);

}
/* ------Footer end------ */
